<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button [routerLink]="['/listado-libros']" routerLinkActive="btn btn-outline-success" class="btn btn-outline-success" type="button">Listado Libros</button>
    <button [routerLink]="['/']" routerLinkActive="btn btn-outline-success" class="btn btn btn-outline-secondary" type="button">Inicio</button>
  </form>
</nav>


<!--
<ul>
  <li><a [routerLink]="['/listado-libros']" routerLinkActive="myclass">Listado libros</a></li>
  <li><a [routerLink]="['/']" routerLinkActive="myclass">Inicio</a></li>
</ul>
-->
<h3>
  Libros vistos
</h3>
<ul *ngIf="librosVistos.verListado()">
  <li *ngFor="let libro of librosVistos.verListado()">{{libro.titulo}}</li>
</ul>
