
 <main role="main" class="container">

    <div class="starter-template">
      <h1>Stateful</h1>
      <p class="lead">Ejemplo de componete stateful.</p>

      <div class="card-deck">
        <div class="card" *ngFor="let curso of shopModel.shopItems">
          <app-stateless 
            [producto]="curso"
            (cursomatriculado)="cursoMatriculado($event)"></app-stateless>
        </div>
      </div>
    </div>
    <div *ngIf="boughtItems">
      <ul class="list-group">
        <li class="list-group-item" >Informacion matricula</li>
        <li class="list-group-item" *ngFor="let boughtItem of boughtItems">
          {{boughtItem.title}}   <span class="badge badge-secondary">{{boughtItem.price}} €</span>
        </li>
        <li class="list-group-item"><h3>Total: {{total}} €</h3></li>
      </ul>
    </div>
    <input type="text" keydown="onKeyboard($event)"/>
    <app-confirm></app-confirm>
    <app-formularioreactivo></app-formularioreactivo>
  </main><!-- /.container -->
